	<div class="columna-335-right aumenta-tus-atenciones">
		<h2>Aumenta tus antenciones:</h2>
		<div class="plan-actual">
			<h1>Plan Información Total</h1>
			<p><strong>Contratando este plan</strong> obtén un <strong>50% de incremento</strong> en tus atenciones:</p>
			<ul>
				<li><span>Información básica de tu perfil</span></li>
				<li><span>Personalización de tu ficha personal</span></li>
				<li><span>Información de teléfono, web y mail de contacto.</span></li>
				<li><span>Personalización de logo y foto en la ficha.</span></li>
				<li><span>Información completa de las especialidades.</span></li>
				<li><span>Mapa indexado del centro o terapéuta.</span></li>
			</ul>
			<p class="destacado">Desde <strong><%=h number_to_currency RefDatum.find_by_nombre("Plan Anual").valor.to_i/12 %> mensuales</strong></p>
			<p class="right"><a href="#" id="previsualizar-otra-ficha">Contratar</a></p>
		</div>
	</div><!--columna-335-right-->