	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

		<div class="columna-one-full columna-acceso-beneficios">
			<div class="text-box">
			
				<h2>Beneficios de pertenecer a buscoterapia.cl</h2>
				<p class="grande">
					Buscoterapia es la <strong>red de terapeutas más grande del país</strong>, en donde todos los terapeutas que se tengan una cuenta, pueden mostrar datos de sus centros de atención.
				</p>
				<p class="grande">
					Al registrarte gratuitamente podrás comenzar a utilizar algunos de estos beneficios. También tenemos planes destacados para que tu centro terapeutico se destaque y posea preferencias dentro de nuestro sitio.
				</p>
				<p>
				<input id="bt-comenzar-ahora" type="button" class="boton-azul" value="¡Comenzar ahora!"/>
				</p>
				<div class="columna50">
					<h2 class="titulo-testimonios">Para las personas:</h2>
					<p>
					<strong>Asesoría en línea:</strong> Todas las personas pueden solicitar de manera gratuita asesoría para que nuestro equipo de profesionales le sugiera los especialistas idóneos para abordar sus conflictos.
					</p><p>
					<strong>Información centralizada:</strong> El único y más grande directorio de terapeutas acreditados a nivel nacional.
					</p><p>
					<strong>Un sitio web muy fácil de usar:</strong> Desarrollado por especialistas y testeado con usuarios para asegurar su eficiencia y eficacia.
					</p><p>
					<strong>Rapidez:</strong> toda solicitud al sitio tiene un tiempo máximo de 90 minutos para ser respondida.
					</p><p>
					<strong>Seriedad:</strong> Todo nuestro equipo de soporte cuenta con conocimientos en terapias tanto alternativas como psicológicas, nada ha quedado al azar. Además, todos los terapeutas vinculados por el sito han certificado su formación con documentos oficiales.
					</p>
				</div>
				<div class="columna50 last">
					<h2 class="titulo-testimonios">Para los terapeutas:</h2>
					<p>
					<strong>Derivación de consultantes:</strong> Los terapeutas certificados en nuestros registros serán recomendados y referidos a las personas que nos soliciten asesoría.
					</p><p>
					<strong>Encontrabilidad:</strong> Este término tecnológico hace referencia a la posibilidad de ser encontrado por potenciales consultantes tanto dentro del sitio como en los principales buscadores de Internet.
					</p><p>
					<strong>Economía:</strong> Esta alternativa es actualmente la más económica del mercado.
					</p><p>
					<strong>Estadísticas de uso:</strong> El sitio genera estadísticas mensuales de la cantidad de consultas que recibe la ficha de cada terapeuta, esto te permitirá hacer ajustes, analizar y proyectar.
					</p><p>
					<strong>Facilidad de uso:</strong> Actualización simple y rápida de datos.
					</p><p>
					<strong>Satisfacción garantizada:</strong> Si durante el primer mes de suscripción no estás conforme con el servicio te devolvemos la inversión. Estar en el directorio de terapeutas certificado más amplio y actualizado del país.
					</p>
				</div>
			</div>
		
		
		</div><!--columna-670-left-->
		
		
		
		<div class="columna-one-full bases-valoricas">
			<h2>Bases valóricas, políticas y 
			epistemológicas del funcionamiento de 
			las palabras.</h2>
			<div class="columna30">
			<h3>Quienes son y quienes somos</h3>
			<p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#">Leer más.</a></p>
			</div>
			<div class="columna30">
			<h3>Texto y contexto político y valóricos de buscoterapia.cl</h3>
			<p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#">Leer más.</a></p>
			</div>
			<div class="columna30 lastChild">
			<h3>Políticas de funcionamiento de la Gestión Terapéutica.</h3>
			<p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#">Leer más.</a></p>
			</div>
		</div><!--columna-335-right-->
		
		<div class="columna-one-full columna-planes">
			<h2>Nuestros planes:</h2>
			<div class="plan plan0">
				<h1>Registro Gratuíto</h1>
				<p>Registrate <strong>gratuitamente</strong> en buscoterapia.cl y <strong>obtén</strong>:</p>

				<ol>
					<li>Incremento en tus atenciones.</li>
					<li>Información básica de tu perfil</li>
					<li>Personalización de tu ficha personal</li>
					

					
				</ol>
				<div class="box-contratar">
					<div class="precio-borde precio-borde-left top"></div>
					<div class="precio-borde precio-borde-right top"></div>
					<div class="precios">
						<p><span class="precio_valor">Registro Gratuito</span></p>
					</div>
					<div class="precio-borde precio-borde-left"></div>
					<div class="precio-borde precio-borde-right"></div>
					<%= link_to 'Contratar', new_terapeuta_path(:tipo => "gratuito"), :class => "boton-azul" %>
				</div>
			</div>
			<div class="plan plan1">
				<h1>Plan</h1>
				
				<p><strong>Contratando este plan obtén:</strong></p>

				<ol>
					<li>Incremento en tus atenciones.</li>
					<li>Información básica de tu perfil</li>
					<li>Personalización de tu ficha personal</li>
					<li>Información de teléfono, web y mail de contacto.</li>
					<li>Personalización de logo y foto en la ficha.</li>
					<li>Información completa de las especualidades.</li>
					<li>Mapa indexado del centro o terapéuta.</li>
					
	
				</ol>
				<div class="box-contratar">
					<div class="precio-borde precio-borde-left top"></div>
					<div class="precio-borde precio-borde-right top"></div>
					<div class="precios">
						<p>1 mes:<span class="precio_valor"> $ 12.700 </span><strong>mensuales</strong></p>
						<p>6 meses:<span class="precio_valor"> $ 8.100 </span><strong>mensuales</strong></p>
						<p>12 meses:<span class="precio_valor"> $ 5.900 </span><strong>mensuales</strong></p>
					</div>
					<div class="precio-borde precio-borde-left"></div>
					<div class="precio-borde precio-borde-right"></div>
					<%= link_to 'Contratar', new_terapeuta_path(:tipo => "pagado"), :class => "boton-azul" %>
				</div>
			</div>

		</div><!--columna-one-full-->
		
		</div><!-- #content -->
	</div><!-- block-content -->