<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	
	
	
	<div class="columna-one-full content404">
		<div class="text-box">
		<h2>Estadísticas.</h2>
		<p class="busqueda-mensaje-resultado">
			Estimado terapeuta, estamos trabajando en el desarrollo de esta página.  A fin de mes podrás revisar las estadísticas de tu ficha y del sitio.
		</p>
		
		</div>
	</div><!--columna-one-full-->
	
	
	
	
	</div><!-- #content -->
</div><!-- block-content -->