<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2>"Se ha completado el pago de manera exitosa.  Su ficha estará disponible en el sitio una vez que validemos sus datos.  Gracias por preferirnos"</h2>
	</div>
	</div>
</div>
