<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="busqueda-box-center">
		<h2>Terapeutas por validar</h2>
		<br />
			<div class="form-box form-perfil">
				
			<% @asesorias.each do |asesoria| %>
			    N° Asesoria: <%= asesoria.id %><br />
			    Nombre Paciente: <%= asesoria.paciente_nombre %><br />
			    Fecha Solicitud: <%= I18n.localize(asesoria.created_at, :format => "%e de %B, %Y")%>&nbsp;
			    <%= link_to 'Ver', ver_asesoria_path(asesoria) %><br /><br />
			<% end %>
			</div>
		</div>
	</div>
	</div>
</div>
