<h2>Comprobante</h2>

<div>Tu solicitud fue enviada con éxito a nuestro equipo de asesoría.  Responderemos a tu mensaje en las próximas 24 horas a la dirección de correo electrónico que nos indicaste en el formulario  <%= @asesoria.paciente_email %></div>

<div>Si tienes cualquier duda o necesidad puedes contactarnos vía mail a <a href="mailto:contacto@buscoterapia.cl">contacto@buscoterapia.cl</a></div>

<div>A nombre del equipo de Buscoterapia agradecemos tu confianza</div>

<div>Que tengas un buen día</div>

<div>Tu N° de solicitud es <%= @asesoria.id %></div>