<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="etapas etapa_3"> <!-- varia entre clases: etapa_1, etapa_2, etapa_3 -->
			<hr class="linea_etapas"/>
			<div class="etapa icon_etapa_1">
					<span class="number">1</span>
					<span class="label">Mi problema</span>
			</div>
			<div class="etapa icon_etapa_2">
				<span class="number">2</span>
				<span class="label">Datos de contacto</span>
			</div>
			<div class="etapa icon_etapa_3">
				<span class="number">3</span>
				<span class="label">Comprobante</span>
			</div>
		</div>
		
		<div id="print_area">
		
		<h1>Comprobante.</h1>
		<p class="numero-solicitud right">Tu N° de solicitud es: <strong><%= @asesoria.id %></strong></p>
			
		<div class="form-box-center">
		
<!-- Datos principales de quienes asistirán a terapia -->

			<div class="form-box form-comprobante">
				<p>Tu mensaje ha sido enviado con éxito a nuestro equipo 
				de profesionales, <strong>a partir de este momento tenemos 90 
				minutos para resolver tu solicitud.</strong></p>
				<p>Este servicio se ofrece <strong>entre 09:00 y 19:00 de lunes a viernes</strong>, si tu solicitud 
					se realizó fuera de este horario responderemos durante las próximas 2 horas hábiles.</p>
				<p>Nos contactaremos contigo al teléfono que nos indicaste en el Paso 2 y te ofreceremos 
					una variedad de opciones para que elijas y comiences el proceso que desees.</p>
				<p>Si tienes cualquier duda o necesidad puedes contactarnos vía mail a  
				<a href="mailto:contacto@buscoterapia.cl">contacto@buscoterapia.cl</a></p>
				<p>A nombre del equipo de buscoterapia agradecemos la confianza en nosotros. </p>
				<p class="destacado"><strong>¡Muchas gracias por confiar en nosotros!</strong></p>
				<div class="no-print">
				<hr/>
					<a href="#" class="bt-email">Enviar por correo</a> <a href="javascript:printContent('print_area', 'Buscoterapia - Comprobante Solicitud')" class="bt-print">Imprimir</a> <%= link_to 'Volver a la página de Inicio', root_url, :class => "bt-volver-inicio" %>
				</div><!--no-print-->
			</div>
		</div><!--form-box-center-->
		
		</div><!--print-area-->
		
	</div><!--columna-670-left-->
</div>
