<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
	<%= form_tag modificar_password_path do %>
		<%= hidden_field_tag :terapeuta, @terapeuta.id %>
		Nueva contraseña: <%= text_field_tag :new_password %>  
		
		<%= submit_tag "Cambiar contraseña" %>
	<% end %>
	</div>
	</div>
</div>
