<p>Hola <%= @terapeuta.nombre %>!</p>
Su solicitud para recuperar contraseña para el sitio BuscoTerapia.cl ha sido recibida, 

Presione <b><a href="<%= @reset_password_link %>">aquí</a></b> para resetear su contraseña

 
 
