<div id="block-footer" class="block-wrapper">
	<div id="footer" class="wrapper">
		<ul>
			<li class="destacado"><%= link_to "Contáctenos", contacto_url %></li>
			<li><a href="<%= root_url %>/condiciones de uso.pdf">Condiciones de uso</a></li>
			<li><a href="<%= root_url %>/politica_de_privacidad.pdf">Políticas de privacidad</a></li>
			<li><%= link_to "Preguntas frecuentes", preguntas_frecuentes_url %></li>
		</ul>
	</div><!-- footer -->
</div><!-- block-wrapper -->