<div class="columna-335-right" id="scrollDownFaq">
<div class="columna-335-right">
	<h2>Preguntas frecuentes</h2>

	<div class="acordeon-lista">
		<ul>
			<li>
				<div class="acordeon-header">
					<p>¿Qué es la asesoría terapéutica?</p>
				</div>
				<div class="acordeon-content">
					<div class="acordeon-text">
						<p>El servicio de asesoría terapéutica consta de dos partes: La primera es entregar información a los usuarios de los posibles caminos a seguir dado el problema relatado y sus expectativas. Segundo en gestionar la toma de horas con los terapeutas que los usuarios seleccionen.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="acordeon-header">
					<p>¿Cuál es el valor de la asesoría terapéutica?</p>
				</div>
				<div class="acordeon-content">
					<div class="acordeon-text">
						<p>Este proceso es completamente gratuito para el usuario.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="acordeon-header">
					<p>¿Quiénes componen el equipo de asesoría? </p>
				</div>
				<div class="acordeon-content">
					<div class="acordeon-text">
						<p>Actualmente el equipo de asesoría está compuesto por terapeutas alternativos, complementarios y psicólogos de distintos enfoques. Hoy son 8 profesionales quienes componen este equipo.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="acordeon-header">
					<p>¿Cuál es el nivel de confidencialidad de los datos? </p>
				</div>
				<div class="acordeon-content">
					<div class="acordeon-text">
						<p>Existen políticas de confidencialidad de datos que están estipuladas en el siguiente link: <%= link_to "Políticas de Privacidad", privacidad_url %></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<p class="right"><small><%= link_to "Ver más preguntas frecuentes", preguntas_frecuentes_url %></small></p>

</div><!--columna-335-right-->
</div><!--columna-335-right-->