	<div id="wrapper">
		<div id="content_wrapper">
		
		<div class="content-top"></div>
			<h2>Política de Uso.</h2>
			<ol>
				<li>Respecto al servicio.</li>
				<ol>
					<li>El objetivo de Buscoterapia es generar un primer contacto entre una persona y un profesional de la salud mental para el establecimiento de un vínculo terapéutico. Entendemos como profesional de la salud mental cualquier profesional con conocimiento y experiencia en temas terapéuticos, sin hacer distinciones teóricas, de enfoque, epistemología o especificidad de su estudio.</li>
					<li><strong>TODOS los terapeutas incluidos y recomendados por nuestro sitio han facilitado a Buscoterapia los documentos necesarios que acreditan su formación como terapeuta</strong>. Siendo cada profesional responsable de la legitimidad y validez de los documentos facilitados, además de cualquier problema legal derivado de la falseación o falsificación de dichos documentos.</li>
					<li>Buscoterapia ofrece distintos tipos de suscripción para darse a conocer a través de nuestro sitio, las características de cada suscripción son particulares al plan y parten desde la gratuidad. Los datos entregados al portal no son comercializados como bases de datos con ningún proveedor o negocio. No obstante los datos contenidos en las fichas de los terapeutas son de uso público y no existe ningún motivo válido que imposibilite a las personas acceder a las fichas a través de búsquedas auto gestionadas o a través de nuestro buscador.</li>
					<li>Cada terapeuta, una vez suscrito al sitio, ha firmado un contrato que se ha comprometido a cumplir rigurosamente, el incumplimiento de alguna de las clausulas incluidas dentro del contrato es causal de eliminación inmediata de su cuenta, sin posibilidad de solicitar o exigir indemnización o retribución de los pagos realizados.</li>
				</ol>
				<li>Respecto a las herramientas.</li>
				<ol>
					<li>Buscoterapia a través de su directorio y su servicio de buscador de terapeutas sólo cumple el rol de facilitar el contacto entre un potencial consultante y un profesional, <strong>la decisión de trabajar con él, la o los profesionales alojados en el portal es de exclusiva responsabilidad del consultante</strong>. Además <strong>la mantención y actualización de la información entregada a través de las fichas de cada profesional es de exclusiva responsabilidad del terapeuta</strong>, el cual tiene por obligación presentar datos reales y actualizados. Buscoterapia dará todas las facilidades para que el proceso de actualización de datos sea rápido y expedito.</li>
					<li>Buscoterapia ofrece un servicio de asesoría en línea para los usuarios. Este servicio es gestionado por profesionales con conocimientos certificados en diversas terapias y es gratuito para quien consulta.</li>
					<li>Buscoterapia a través de su servicio de asesoría en línea cumple con las responsabilidades de sugerir alternativas de tratamiento y profesionales que puedan satisfacer las expectativas de los potenciales consultantes, además de facilitar el agendamiento y toma de horas a los usuarios. No obstante todo lo que sucede luego de la toma de la hora es responsabilidad del profesional tratante y del usuario. <strong>Buscoterapia NO se hace responsable por los resultados de la relación profesional o humana que se genere entre terapeuta y consultante</strong>.</li>
					<li>Buscoterapia podrá interceder ante reiterados comentarios negativos por disconformidad del servicio recibido por alguno de nuestros terapeutas, pudiendo Buscoterapia, en su responsabilidad de recomendar profesionales idóneos: 1º Hablar con él/la terapeuta en cuestión respecto a los comentarios recibidos, resguardando siempre la confidencialidad de quien realizó los comentarios; 2º brindar sugerencias de mejora respecto al servicio ofrecido y 3º Suspender las derivaciones en caso que se mantenga la disconformidad por parte de los usuarios derivados.</li>
					<li>En caso de que la persona que recibió asesoría comience un proceso terapéutico a partir de la gestión de nuestro equipo, el terapeuta deberá retribuir con un pago mensual por cada usuario derivado. Este pago único mensual corresponderá a un pago único correspondiente al 30% del pago recibido en la primera atención. En caso de que el terapeuta maneje promociones o descuentos en las primeras atenciones, el 30% mencionado corresponderá al valor promedio de las 10 primeras sesiones de atención. Este valor será calculado en el momento en que se celebre el contrato de suscripción del terapeuta.</li>
					<li>Es responsabilidad del terapeuta informar oportunamente cambios en los aranceles cobrados por sus servicios. Realizar cobros distintos a los reportados al momento de suscribirse es causal de suspensión inmediata del servicio de derivación. </li>
				</ol>
				<li>Respecto a los pagos.</li>
				<ol>
					<li>Cada terapeuta es responsable de mantener sus pagos al día, Buscoterapia se encargará de emitir una orden de pago mensual por los servicios prestados a los terapeutas, los cuales deberán ser pagados dentro de los primeros 5 días de cada mes. Al respecto:</li>
					<li>El no pago en fecha de los costos surgidos del servicio de derivación será causal de suspensión temporal de las derivaciones.</li>
					<li>El no pago de cualquiera de los servicios prestados luego de 20 días de vencida la fecha de pago, será causal de suspensión de todos los servicios al terapeuta, sin posibilidad de reclamos o indemnizaciones.</li>
					<li>El no pago de la renovación de la suscripción conllevará la desvinculación del profesional de nuestras bases de datos y por lo tanto de cualquier servicio prestado por el sitio. </li>
					<li>El equipo de Buscoterapia tanto a nivel directivo como operativo <strong>no aprueba el uso de  DICOM como herramienta de presión para exigir pagos</strong>, por lo cual <strong>NUNCA</strong> un terapeuta, a pesar de no realizar sus pagos obligatorios, será reportado a dicho directorio. Por lo tanto la única medida a tomar por el no pago del servicio es la suspensión del mismo.</li>
				</ol>
				<li>Respecto a los sistemas de mejora</li>
				<ol>
					<li>Buscoterapia cuenta con un sistema de feedback que puede ser utilizado tanto por consultantes como terapeutas. El aporte a este sistema es fundamental para mejorar el servicio y anticipar futuros problemas. Toda la información entregada por este medio es confidencial y en ningún caso interferirá con el proceso que lleve a cabo el profesional y el consultante.</li>
					<li>Buscoterapia podrá realizar encuestas de satisfacción estos podrá hacer referencia al proceso de asesoría realizado, aspectos vinculados al uso del sitio o cualquier otro parámetro que sea relevante al equipo de Buscoterapia realizar. Esta información será de uso exclusivo del portal, y en ningún caso interferirá con el proceso que lleven a cabo los profesionales y los consultantes.</li>
				</ol>
			</ol>
			
			<h3>Cualquier duda respecto a estas políticas las puede realizar a través del correo. consultas@buscoterapia.cl</h3>
	</div><!-- wrapper -->