<table width="900">
	<tr>
		<td>
			<h3>Asesoria personal</h3>
			<p>Deja tu problema en nuestras manos, nosotros te asesoramos para encontrar al terapeuta que necesitas.</p>
			<p>En dos simples pasos cuéntanos tu problema, nuestro equipo de profesionales te asesorará telefónicamente para que en menos de 90 minutos tengas agendada una cita con un terapeuta que se ajuste a tus necesidades y expectativas.</p>
			<p>Este proceso es absolutamente confidencial y gratuito.</p>
			<p>Confía en nosotros, ¡estás en buenas manos! </p>
			<%= button_to "Ingresar mi problema", new_asesorium_path, :method => 'get'%>
		</td>
		<td>
			<%= render 'search_form' %>
		</td>
	</tr>
</table>
