	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

		<div class="columna-670-left sec-faq">
			<h2>Preguntas frecuentes</h2>
		
			<div class="acordeon-lista acordeon-grande">
				<ul>
					<li>
						<div class="acordeon-header">
							<p>¿Cuándo tendré respuesta a mi solicitud?</p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Tu solicitud será respondida dentro de los próximo 90 minutos. Contamos con un grupo de profesionales especializados y capacitados para resolver tus dudas con respecto a qué debes realizar con tu problema.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="acordeon-header">
							<p>¿Qué pasa si mi solicitud nunca es respondida?</p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							</div>
						</div>
					</li>
					<li>
						<div class="acordeon-header">
							<p>¿Lorem ipsum dolor sit amet?</p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
								<p>Lorem Ipsum has been the  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div><!--columna-670-left-->
		
		
		<div class="columna-335-right contacto-sidebar">
			<h2>Contacto</h2>
			<p>
			Alguna duda o sugerencia para nuestro equipo? te recomendamos ir a la página de <a href="#">contacto</a> y escribirnos a través del formulario.
			</p>
			<input type="button" class="boton-morado" value="Contactar" />
		</div><!--columna-335-right-->
		
		</div><!-- #content -->
	</div><!-- block-content -->
