	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

		<div class="columna-670-left sec-faq">
			<h2>Preguntas frecuentes</h2>
		
			<div class="acordeon-lista acordeon-grande">
				<ul>
					<li>
						<div class="acordeon-header">
							<p>¿Qué es el servicio de asesoría terapéutica?</p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>El servicio de asesoría terapéutica consta de dos partes: La primera es entregar información a los usuarios de los posibles caminos a seguir dado el problema relatado y sus expectativas. Segundo en gestionar la toma de horas con los terapeutas que los usuarios seleccionen.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="acordeon-header">
							<p>¿Cuál es el valor de la asesoría terapéutica?</p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Este proceso es completamente gratuito para el usuario.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="acordeon-header">
							<p>¿Quiénes componen el equipo de asesoría terapéutica? </p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Actualmente el equipo de asesoría está compuesto por terapeutas alternativos, complementarios y psicólogos de distintos enfoques. Hoy son 8 profesionales quienes componen este equipo.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="acordeon-header">
							<p>¿Cuál es el nivel de confidencialidad de los datos que envío? </p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Existen políticas de confidencialidad de datos que están estipuladas en el siguiente link: LINK A LAS POLITICAS DE PRIVACIDAD</p>
							</div>
						</div>
					</li>
					<li>
						<div class="acordeon-header">
							<p>¿Qué terapeutas son los que aparecen en el sitio? </p>
						</div>
						<div class="acordeon-content">
							<div class="acordeon-text">
								<p>Buscoterapia incluye en su directorio a terapeutas alternativos, complementarios, psicólogos y psiquiatras. Todos ellos han acreditado con diplomas y títulos los estudios en las terapias que ofrecen.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div><!--columna-670-left-->
		
		
		<div class="columna-335-right contacto-sidebar">
			<h2>Contacto</h2>
			<p>
			Alguna duda o sugerencia para nuestro equipo? te recomendamos ir a la página de <a href="#">contacto</a> y escribirnos a través del formulario.
			</p>
			<input type="button" class="boton-morado" value="Contactar" />
		</div><!--columna-335-right-->
		
		</div><!-- #content -->
	</div><!-- block-content -->
