<div id="content_wrapper">
<div class="content-top"></div>
	<h2>Política de Privacidad</h2>
	<h3>Dada la sensibilidad de la información capturada a través de nuestro sitio, hemos definido políticas de manejo de información diferenciadas según la sensibilidad de los datos obtenidos.</h3>
	
	<ol>
		<li>Respecto a la información web usada para la generación de estadísticas web y temas administrativos: </li>
		<ol>
			<li>Buscoterapia, a través de su sitio sólo obtendrá la información que por default recoge Google Analitycs® de los visitantes de nuestro web. Esta información sólo será recogida con el fin de generar mejoras en nuestro sitio La información obtenida para estos fines es totalmente anónima, y en ningún caso puede ser asociada a un usuario concreto e identificado.</li>
			<li>1.2 La página de nuestro web utiliza cookies, pequeños ficheros de datos que se generan en el ordenador del usuario y que nos permiten obtener la siguiente información:<br />
La fecha y hora de la última vez que el usuario visitó nuestro web.<br />
Elementos de seguridad que intervienen en el control de acceso a las áreas restringidas.<br />
El usuario tiene la opción de impedir la generación de cookies, mediante la selección de la correspondiente opción en su programa navegador. Sin embargo, el equipo de Buscoterapia no se responsabiliza de que la desactivación de los mismos impida el buen funcionamiento de la página.</li>
			<li>El terapeuta o centro suscrito acepta que los datos personales aportados en el momento de su registro pasan a formar parte del directorio y registro de Buscoterapia. Los datos de registro que serán de uso público serán informados en el momento de su suscripción, los datos solicitados que no se vinculan con la ficha presentada en nuestro directorio serán reservados para temas administrativos del sitio.</li>
			<li>Los datos pedidos facilitan la prestación de los servicios solicitados por potenciales consultantes, además de la correcta identificación de potenciales terapeutas para los usuarios que solicitan asesoría personalizada en Buscoterapia. Además los datos recibidos colaborarán con la realización de estudios estadísticos que permitan diseñar mejoras en los servicios prestados, la gestión de tareas básicas de administración y para mantenerle informado de novedades, productos y servicios relacionados al servicio. </li>
			<li>En el caso de comunicaciones comerciales a través de correo electrónico o medio equivalente, el usuario presta su consentimiento expreso para el envío de mails o documentos que puedan ser conducentes a la mejora de la práctica terapéutica pudiendo ellos de manera libre optar o no por su adquisición.</li>
			<li>Buscoterapia se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de tratarlos con confidencialidad, y asume, a estos efectos, las medidas de índole técnica, organizativa y de seguridad necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, no siendo responsabilidad del sitio los problemas generados por la mala gestión de las claves de acceso al sitio.</li>
			<li>El terapeuta responderá, en cualquier caso, de la veracidad de los datos facilitados, principalmente de los documentos que comprueben los estudios realizados en el ámbito terapéutico ofrecido, reservándose Buscoterapia el derecho a excluir de los servicios registrados a todo usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.</li>
		</ol>
		<li>Respecto a la información web usada para la generación de una correcta asesoría en línea.</li>
		<ol>
			<li>Todos los datos aportados por los usuarios al solicitar el servicio de asesoría en línea cuentan con  absoluta confidencialidad, estos no serán divulgados por ningún medio, así como tampoco los terapeutas podrán contar con conocimientos previos respecto a la naturaleza de los motivos que llevan al usuario a solicitar la asesoría.<br />
No obstante lo anterior existen ciertos datos que son necesario de entregar a los terapeutas para realizar una óptima gestión de la toma de horas, entre estos datos se cuentan el nombre de quien solicita la asesoría, tipo de terapia solicitada, disponibilidad horaria y medios de contacto. </li>
			<li>Es responsabilidad del terapeuta cerciorarse de que, en caso de tener algún vínculo con el potencial consultante, informe  respecto a la posibilidad de que pueda verse alterado el correcto funcionamiento del vínculo terapéutico a partir de esta coincidencia. </li>
			<li>El equipo de Buscoterapia podrá realizar estadísticas respecto a los motivos de consulta más comunes, tipos de consulta y otros tipos de indicadores, siempre resguardando la privacidad de nuestros usuarios. Además podrá ocasionalmente hacer seguimiento a la efectividad, eficiencia y satisfacción de los usuarios que solicitan nuestros servicios de asesoría.</li>
		</ol>
	</ol>
	
<div class="content-bottom"></div>
</div><!-- content_wrapper -->

