
<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

		<div class="columna-670-left">
			<div class="busqueda-box-center">
				<div class="form-box">
<h1>New event</h1>

<%= render 'form' %>

<%= link_to 'Back', events_path %>
				</div>
			</div>
		</div>
	</div>	
</div>
