<h3Por favor ingrese su correo electronico para recuperar su contraseña</h3>
<%= form_tag reset_password_path :validate => true do %>
  <div class="field">
    <%= label_tag "Ingrese su correo" %>
    <%= text_field_tag :email_recovery %>
  </div>
  <div class="actions"><%= submit_tag "Enviame mi contraseña" %></div>
<% end %>