<h3>Formulario de registro gratuito</h3>
<p>Ingresa los siguientes datos para crear tu cuenta y formar parte de la red de terapeutas más grande del país.</p>
<p>Todos los datos son obligatorios</p>
<%= render 'form' %>
