<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="busqueda-box-center">
		<div class="form-box form-perfil">
			<h1>Modificar terapia</h1>
			
			<%= render 'form' %>
			
			<%= link_to 'Ver', @terapia %> |
			<%= link_to 'Volver', terapias_path %>
		</div>
		</div>
		</div>
	</div>
</div>
