  <h2>Necesidades</h2>
  <fieldset>
	  <legend>Datos principales de quienes asistirán a terapia</legend>
	  <div class="field">
	    <%= f.label "¿Por qué necesitas una terapia?" %><br />
	    <%= f.text_area :necesidad_1 %>
	  </div>
	  <div class="field">
	    <%= f.label "¿Cómo te imaginas tu terapia?" %><br />
	    <%= f.text_area :necesidad_2 %>
	  </div>
  </fieldset>
