@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*fin del reset*/


@font-face {
    font-family: 'Webfont';
    src: url('/assets/webfont-webfont.eot');
    src: url('/assets/webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfont-webfont.woff') format('woff'),
         url('/assets/webfont-webfont.ttf') format('truetype'),
         url('/assets/webfont-webfont.svg#WebfontRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Webfont';
/*	src: url('/assets/webfont_bold-webfont.eot');
	src: local('?'), url('/assets/webfont_bold-webfont.woff') format('woff'), url('/assets/webfont_bold-webfont.eot') format('truetype'), url('/assets/webfont_bold-webfont.svg') format('svg');
*/	
    src: url('/assets/webfont_bold-webfont.eot');
    src: url('/assets/webfont_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfont_bold-webfont.ttf') format('truetype'),
         url('/assets/webfont_bold-webfont.svg#Webfont') format('svg');
	 
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Webfont';
    src: url('/assets/webfont_italic-webfont.eot');
    src: url('/assets/webfont_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/webfont_italic-webfont.woff') format('woff'),
         url('/assets/webfont_italic-webfont.ttf') format('truetype'),
         url('/assets/webfont_italic-webfont.svg#WebfontItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}



body{
	margin: 4px 0 0;
	font-size: 62.5%;
	font-family: 'Webfont',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: #f5f5f5 url(img/top.jpg) repeat-x;
}


.wrapper{
	width: 1006px;
	margin: 0 auto;
	clear: both;
	position:relative;
}
.block-wrapper{
	width:100%;
	float:left;
}
.col_12{
	clear: both;
}
.col_8{
	width: 642px;
	float: left;
}


h2 {
	color: #959595;
	margin: 5px 0;
	font-size: 15px;
	font-weight:bold;
}

h1 {
	font-size: 2.4em;
	line-height: 1.2em;
	margin: 15px 0;
	color: #067ab8;
	font-weight:bold;
}
h3{
	font-weight:bold;
	font-size:15px;
	color:#4483be;
}
p {
	font-size: 1.4em;
	line-height: 140%;
	color: #8a8a8a;
	margin:8px 0;
	
}
strong{
	font-weight:bold;
}
small{
	font-size:85%;
}
#header{
	position:relative;
	background-color: #fff;
	height: 112px;
	margin: 0;
	z-index:490;
}
a{
	outline:none;
	color:#7d74c1;
	text-decoration:none;
}
a:hover{
	color:#6252e2;
}
a.buscoterapia{
	display: block;
	background: url(img/buscoterapia.jpg) no-repeat center bottom;
	height: 79px;
	width: 250px;
	text-indent: -9000%;
	margin: 0 auto;
	padding-top: 10px;
}
#login{
	position:absolute;
	right:10px;
	top:10px;
	padding-right:13px;
	background: url(img/arrow-down.png) no-repeat right center;
	cursor:pointer;
}
#login p{
	margin: 0;
	font-size: 1.2em;
}

#login p a{
	text-decoration: none;
	color: #a9a9a9;
}


/** login form **/
#loginForm {
	background-color: #e3f2fa;
	border: solid 1px #9bcae3;
	display: none;
	/*height: 100px;*/
	right: 10px;
	position: absolute;
	top: 30px;
	width: 285px;
	z-index:500;
	padding:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#7c7c7c;
	
	/*-webkit-box-shadow: 0px 2px 5px 0px #000000;
	-moz-box-shadow: 0px 2px 5px 0px #000000;
	box-shadow: 0px 2px 5px 0px #000000; */
	font-size:13px;
	
	}
#loginForm label{
	width:100%;
	float:left;
}
#loginForm a{
	color:#7c7c7c;	
	text-decoration:none;
}

input[type="text"],input[type="password"],input[type="number"]{
	padding:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #c4c4c4;
	width:275px;

	
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FFFFFF),
		color-stop(1, #F1F1F1)
	);
}

.texto-recordar{
	width:100px;
	font-size:13px;
}
.texto-recordar span{
	position: relative;
	top: -2px;
}
.boton-azul{
	background: #2B8EC3; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b8ec3 0%, #05689d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b8ec3), color-stop(100%,#05689d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b8ec3 0%,#05689d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b8ec3 0%,#05689d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b8ec3 0%,#05689d 100%); /* IE10+ */
	background: linear-gradient(top,  #2b8ec3 0%,#05689d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b8ec3', endColorstr='#05689d',GradientType=0 ); /* IE6-9 */


	border:1px solid #074668;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px 35px;
	font-size:13px;
	font-weight:bold;
	text-shadow: #000 1px 1px 1px;
	cursor: pointer;
}
.boton-azul:hover{
	color:#fff;
	background: #00a5d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #00a5d3 0%, #0687aa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a5d3), color-stop(100%,#0687aa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00a5d3 0%,#0687aa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00a5d3 0%,#0687aa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00a5d3 0%,#0687aa 100%); /* IE10+ */
	background: linear-gradient(top,  #00a5d3 0%,#0687aa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5d3', endColorstr='#0687aa',GradientType=0 ); /* IE6-9 */
}
#loginForm input[type="button"]{
	float:right;
}

.login-separador{
	border:none;
	border-top: solid 1px #9bcae3;
	
	height:0px;
	float:left;
	width:325px;
	margin:20px -20px;
}
#loginForm .message{
	display:none;
}
#loginForm .alerta .message{
	display:block;
}
#password-incorrecto{
	color:#F00;
	font-size:13px;
	text-align:center;
	line-height:100%;
	display:none;
	
}
#unfocus-bg-login-form{
		width:100%;
		height:100%;
		position:fixed;
		top:0px;
		left:0px;
		z-index:400;
		display:none;
}

/* display bienvenido */
#logged-in{
	position:absolute;
	right:10px;
	top:10px;
	/* display:none; */
}
#logged-in p{
	margin: 0;
	font-size: 14px;
}
#logged-in strong{
	color:#7E75BB;
}
#logged-in p a{
	color:#4584B9;
	margin-left:10px;
	display:inline-block;
	font-size: 12px;
}
.loggedIn #logged-in{
	display:block;
}
.loggedIn #unfocus-bg-login-form{
	display:none;
}
.loggedIn #loginForm{
	display:none;
}
.loggedIn #login{
	display:none;
}

/* -- */

#branding {
	/*float: left;*/
	margin:0 auto ;
	
}

#nav{
	background-color: #eff2f3;
	/*font-size: 1.4em;*/
	font-size: 14px;
	
	margin: 0 auto;
	/*height: 35px;*/
	clear: both;
	position:relative;
	z-index:300;
}
#nav ul{
	min-height: 42px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*overflow: hidden;*/
	padding: 0;
}
#nav ul.main{
	list-style: none;
	margin: 0 1px 0 0;
	background-color: #7e75bb;
	width: 754px;
	float: left;
	
	/*padding: 10px 0 0;*/
}
#nav ul.acceso{
	list-style: none;
	margin: 0;
	/*padding: 10px 0 0;*/
	width: 251px;
	float: right;
	background-color: #4584b9;
	text-align:center;
}

#nav ul.acceso li{
	width:100%;
	margin: 0 auto;
	text-align:center;
}

#branding h1 {
	margin: 0;
}



#nav ul li {
	float: left;
	margin: 0 6px; 
	height: 42px;
	position:relative;
}
#nav ul.main li.lastChild {
	margin: 0 0 0 6px; 
}
#nav ul li a {
	padding: 5px 7px;
	text-decoration: none;
	color: #fdf0e4;
	font-weight: bold; /*restaurar luego*/
	text-shadow: #524c7a 1px 1px 1px;
	display: inline-block;
	position:relative;
	top:20%;
}
#nav ul li a:hover{
	color: #fff;
}
#nav ul li.current a{
	color: #f8d2ae;
}
#block-content{
	margin-top:15px;
}


#mensaje-top{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background-color:#a392c5;
	text-shadow: #352d76 1px 1px 1px;
	padding:15px;
	width:976px;
	position:relative;
	margin-top:15px;
	float:left;
	
}
.mensaje-titulo{
	position:relative;
	float:left;
	width:415px;
}
.mensaje-titulo p{
	color: #fff;
	font-size:24px;
	font-weight:bold;
	margin:5px 0;
}

.mensaje-texto{
	width:480px;
	float:left;
	position:relative;
	left:20px;
	top: 10px;
}
.mensaje-texto p{
	color: #fff;
	font-size:14px;
}
.boton-cerrar-mensaje{
	color: #fff;
	font-size:11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#b5a6cd;
	text-shadow:none;
	padding:2px;
	width:60px;
	text-align:center;
	position:absolute;
	right:5px;
	top:6px;
	cursor:pointer;
}

#asesoria_terapeutas .boton-morado {

	padding: 8px 75px;
	font-size: 17px;
	width:308px;
}



#asesoria_terapeutas {
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 400px;
	background: #fff url(img/steps.jpg) no-repeat 90% 60%;
	position:relative;
}
#asesoria_terapeutas p{
	font-size: 1.5em;
	line-height: 130%;
}

#boton-solicita-home{
	position:absolute;
	bottom:20px;
}

#asesoria_terapeutas h1 {
width:500px;
}
.texto-asesoria{
	width:300px;
}
.texto-asesoria p{
	padding-bottom:15px;
}
#busca_tu_terapeuta {
	padding: 15px 13px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	height: 400px;
	float: right;
	width:308px;
}


#busca_tu_terapeuta ul.tabs {
	margin: 15px -15px 0 -13px;
	padding: 0;
	list-style: none;
	/*font-size: 13px;*/
	font-size: 1.2em;
}

#busca_tu_terapeuta ul.tabs li {
	float: left;
	margin-right: 1px;
	text-align:center;
}
#busca_tu_terapeuta .tab1{
	width:125px;
}
#busca_tu_terapeuta .tab2{
	width:209px;
	margin-right: -2px !important;
}


#busca_tu_terapeuta .tab1 a{
	background-color: #e3deed;
}
#busca_tu_terapeuta .tab2 a{
	background-color: #e7f7eb;
}


#busca_tu_terapeuta #tab1 {
	background-color: #e3deed;
}
#busca_tu_terapeuta #tab2 {
	background-color: #e7f7eb;
}


#busca_tu_terapeuta ul.tabs li a {
	display: block;
	text-decoration: none;
	/*background-color: #fff3e0;*/
	padding: 15px 5px;
	color: #7d74c1;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#busca_tu_terapeuta ul.tabs li a:hover{
	/*background-color: #e7f7eb;*/
	color: #49362b;
}

#busca_tu_terapeuta ul.tabs li.active a {
	/*background-color: #e3deed;	*/
	color: #49362b;
	font-weight: bold ;
}
#busca_tu_terapeuta .tab_container{
	position:relative;
	float:left;
	color: #6f6f6f;
	font-size: 1.3em;
}
.tab_content{
	width: 304px;
	
	border: none;
	margin: 0 -13px;
	display:block;
	padding: 15px;
	background-color: #e3deed;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	float:left;

}
.form-block{
	width:100%;
	float:left;
}
.label{
	width:100%;
	float:left;
	margin-bottom: 10px;
}
.input_field{
	width:100%;
	float:left;
	margin-bottom: 20px;
	margin-left: 0;
	position:relative;
}

.label small{
	margin: 5px 0;
	display:inline-block;
}
/*#busca_tu_terapeuta select {*/
select {
	padding:4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #C4C4C4;
	width: 100%;
	font-size: 13px;
	color: #38373b;
}

#busca_tu_terapeuta input[type="text"] {
	font-size: 13px	;
	padding: 5px;
	width: 292px;
}
.boton-morado {
	background: url(img/boton_bg.jpg) repeat-x scroll 0 center transparent;
	border: 1px solid #544a9a;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: bold;
	color: #fdf4ec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: #524c7a 1px 1px 1px;
	float: right;
	cursor: pointer;
}

#busca_tu_terapeuta  .buscador-columna-right{
	float:right;
	width:45%;
	padding-left:9%;
}
#busca_tu_terapeuta  .buscador-columna-left{
	width:45%;
	float:left;
}
/*fieldset*/
#block-destacados_del_dia{
	margin-top:30px;
}
#destacados_del_dia{
	margin: 0;
	padding: 15px 0;
	/*height: 200px;*/
	min-height: 220px;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;	
}

#destacados_del_dia h2{
	margin: 0 0 15px 15px;
}

/* @group carousel */

.infiniteCarousel {
  	width: 1006px;
  	position: relative;
}

.infiniteCarousel .wrapper_carousel {
  width: 975px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
	overflow: auto;
	min-height: 10em;
	margin: 0px 0 0 15px;
	position: relative;
	top: 0;
	float:left;
	/*height: 190px;*/
}

.infiniteCarousel ul a img {
	border: 5px solid #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper_carousel ul {
	width: 9999px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0 -15px;
	padding:0;
	display: block;
	top: 0;
}

.infiniteCarousel ul li {
	display:block;
	float:left;
	padding: 0 15px;
	/*height: 168px;*/
	width: 305px;
}
.infiniteCarousel ul li .bg-color{
	background-color:#e3f2fa;
	min-height: 163px;
	padding-bottom:5px;
}

.infiniteCarousel ul li img {
	float: left;
	margin-right: 10px;
}
.infiniteCarousel h3 {
	font-size: 1.5em;
	padding: 10px 5px 0 0;
	display:block;
}
.infiniteCarousel a {
	text-decoration: none;
	color: #4483be;
}
.infiniteCarousel p{
	margin: 10px 10px;
}
.infiniteCarousel ul li a img {
	display:block;
}

.infiniteCarousel .arrow {
	display: block;
	height: 60px;
	width: 30px;
	position: absolute;
	top: 97px;
	cursor: pointer;
	background-color: #fff;
	margin-left: -30px;
	background: url(img/arrows-destacado-home.png) no-repeat scroll 0 0 transparent;

}

.infiniteCarousel .forward {
	background-position: 0 -63px;
	right: 0;
	margin-right: -30px;
}

.infiniteCarousel .back {
	background-position: -35px -63px;
	left: 0;
}

.infiniteCarousel .forward:hover {
	background-position: 0 0;
}

.infiniteCarousel .back:hover {
	background-position: -35px 0;
}

/* @end */

.noticias{
	float: left;
	width: 305px;
	margin: 0 15px;
	background-color: #fff3e0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



.noticias p {
	font-size: 1.2em;
	padding: 0 10px 0 0;
}
.noticias p a{
	color: #35658e;
}
#block-footer{
	margin: 30px 0 0 ;
	padding: 0 0 30px ;
}
#footer{
	/*background-color: #eff2f3;*/
	height: 50px;
	/*margin: 15px auto 0 auto;*/
}

#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer ul.left {
	float: left;
	font-size: 13px;
	margin-left:10px;
}
#footer ul.right{
	float: right;
	font-size: 13px;
	width:320px;
	margin-right:-10px;
}
#footer ul.right li{
	float: left;
	margin-right: 25px;
	margin-bottom:3px;
	width:135px;
}
#footer ul li a{
	color: #6f6f6f;
	text-decoration: none;
}
#footer ul li a:hover{
	color: #000;
}


.clear{
	clear: both;
}



/*** ASESORIA ***/


.columna-670-left{
	width:640px;
	float:left;
	min-height:250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
	padding: 15px;
	position:relative;
}
.columna-335-right{
	width:336px;
	float:right;
	min-height:210px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
	position:relative;
	margin-bottom:15px;
	margin-left:-10px;
}


.etapas{
	width:600px;
	position:relative;
	height:80px;
	margin-top:20px;
}
.etapa{
	width:130px;
	height:80px;

	display:inline-block;
	margin: auto;
	position:relative;
	margin-right:100px;
	text-align:center;
	float:left;
}
.icon_etapa_3{
	margin-right:0;
}
.etapa .number{
	color:#fff;
	width:30px;
	height:25px;
	padding-top:5px;
	background-color:#ccc;
	display:inline-block;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.etapa .label{
	padding-top:15px;
	/*color:#067ab8;*/
	color:#dddddd;
	
	display:inline-block;
	font-size:14px;
}
.linea_etapas{
	border:none;
	border-top:solid 4px #8dd1a2;
	position:absolute;
	top:10px;
	width:465px;
	left:65px;
}

/**   cada etapa   **/

.etapa_1 .icon_etapa_1 .label{
	color:#067ab8;
}
.etapa_1 .icon_etapa_1 .number{
	background-color:#6368ad;
}

.etapa_2 .icon_etapa_1 .label{
	color:#067ab8;
}
.etapa_2 .icon_etapa_1 .number{
	background-color:#6368ad;
}
.etapa_2 .icon_etapa_2 .label{
	color:#067ab8;
}
.etapa_2 .icon_etapa_2 .number{
	background-color:#6368ad;
}

.etapa_3 .icon_etapa_1 .label{
	color:#067ab8;
}
.etapa_3 .icon_etapa_1 .number{
	background-color:#6368ad;
}
.etapa_3 .icon_etapa_2 .label{
	color:#067ab8;
}
.etapa_3 .icon_etapa_2 .number{
	background-color:#6368ad;
}
.etapa_3 .icon_etapa_3 .label{
	color:#067ab8;
}
.etapa_3 .icon_etapa_3 .number{
	background-color:#ff7a00;
}

/**   /cada etapa   **/
textarea{
	padding:4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #c4c4c4;
	width:97%;

	
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F1F1F1 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FFFFFF),
		color-stop(1, #F1F1F1)
	);
}
.form-box-center{
	width:75%;
	margin:0 auto;
	display:block;
	position:relative;
}
.form-box{
	width:100%;
	padding:2% 4% 4%;
	margin-left:-4%;
	margin-bottom: 20px;
	display:block;
	border:3px solid #eaebf6;
	background-color:#f7f5fa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#6f6f6f;
	font-size:13px;
	float:left;
}

.form-box h3{
	color:#4483be;
}

.message{
	color:#ff7a00;
	margin:0;
	font-size:11px;
}
.titulo-form{
	margin-bottom:20px;
	float:left;
	width:100%;
}

.form-box .label{
	font-weight:bold;
}
.form-box .label small{
	font-weight:normal;
}

.area_big{
	height:145px;
}
.area_med{
	height:105px;
}
.area_small{
	height:55px;
}
/** destacado para alertar **/
.form-block.alerta textarea, .form-block.alerta input[type="text"], .form-block.alerta input[type="password"], .form-block.alerta input[type="number"], .form-block.alerta select{
	border-color:#ff7a00;
}

.form-block.one-line .label{
	width:140px;
	padding:7px 12px 0 0 ;
	text-align:right;
}
.form-block.one-line .input_field{
	width:300px;
	margin-bottom:10px;
}
.form-block.one-line .input_field input{
	width:230px;
}
.form-block.one-line .input_field select{
	width:240px;
}
.form-block .input_field input{
	width:97%;
}
.horarios-form input {
	width:175px !important;
}
.horarios-form select	{
	width:185px !important;
}

.listaDias{
	margin-bottom:15px;
}
.listaDias span{
	line-height:20px;
	position:relative;
	top:-2px;
}
.listaDias .destacado{
	color:#7E75BB;
}


.boton-volver{
	font-size:99.95%;
}

.columna-335-right h2{
	margin:20px 15px 15px;
}
.columna-335-right p{
	margin:3% 13px;
	font-size:13px;
}

.right{
	text-align:right;
}


.numero-solicitud{
	font-size:24px;
	color:#ff7a00;
	position:relative;
	margin-top:-47px;
	margin-bottom:30px;
}

.form-comprobante{
	border:3px solid #cdf5d9;
	background-color:#e4fceb;
}

.form-comprobante hr{
	border:none;
	border-top:3px solid #cdf5d9;
	width:108%;
	margin: 15px -4%;
	float:left;
}
.form-comprobante p{
	font-size:15px;
	line-height:120%;
	margin:18px 0;
}
.destacado{
	color:#067ab8;
}

.bt-volver-inicio{
	float: right;
	line-height:21px;
}
.bt-email{
	background:url(img/bt-mail.png) no-repeat scroll 0 center transparent;
	padding-left: 35px;
	line-height:21px;
	display:inline-block;
}
.bt-print{
	background:url(img/bt-print.png) no-repeat scroll 0 center transparent;
	padding-left: 31px;
	line-height:21px;
	display:inline-block;
}
.form-comprobante .bt-print{
	margin-left:35px;
}
.icon-calendar{
	background:url(img/icon-calendar.png) no-repeat scroll 0 center transparent;
	position:relative;
	width:30px;
	height:30px;
	margin:-10px 5px;
	display:inline-block;
	cursor:pointer;
}

/******* acordeon preguntas frecuentes *********/
.acordeon-lista{

}
.acordeon-lista ul{
	width:100%;
	display:block;
	position:relative;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	/*background-color:#d8eeff;*/
	float:left;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
}
.acordeon-lista ul li{
	width:100%;
	display:block;
	position:relative;
	list-style:none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	padding-bottom:2px;
	float:left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.acordeon-header{
	cursor:pointer;
	font-size:13px;
	color:#fff;
	display:block;
	float:left;
	width:100%;
	position:relative;
	background-color:#f8cea0;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
}
.acordeon-header p{
	font-size:13px;
	width:80%;
	line-height:30px;
	margin:0;
	padding-left:10px;
	color:#fff;
	font-weight:bold;
	text-shadow: #333 1px 1px 1px;
}
.active .acordeon-header{
	cursor:default;
	background-color:#f3a959;
}
.acordeon-boton{
	color:#caf4fd;
	position:absolute;
	display:inline-block;
	top:0px;
	right:0px;
	height:100%;
	line-height:31px;
	width:20px;
	margin-right:5px;
	text-align:center;
	background:url(img/acordeon-flechas.png) no-repeat scroll 0 center transparent;
}
.active .acordeon-boton{
	
}
.acordeon-mas{
	display:block;
	background-position:-20px center;
}
.acordeon-menos{
	display:none;
}
.active .acordeon-mas{
	display:none;
}
.active .acordeon-menos{
	display:block;
}
.acordeon-hide{
	display:none;
}

.acordeon-content{
	float:left;
	display:block;
	position:relative;
	padding:10px 0;
}





/******** BUSCAR TERAPEUTAS *********/
.necesita-ayuda{
	background:url(img/necesitas-ayuda-terapeuta.png) no-repeat -20px 25px #fffaf5;
	
}
.necesita-ayuda h2{
	font-size:24px;
	color:#067ab8;
	width:110px;
	text-align:center;
	position:relative;
	left:73px;
	margin-bottom:90px;
}
.necesita-ayuda p{
	width:220px;
}
.necesita-ayuda-gente{
	background:url(img/necesitas-ayuda-pareja-decide.png) no-repeat 0 0 transparent;
	width:260px;
	height:210px;
	position:absolute;
	top:-10px;
	right:-97px;
}



.busqueda-box-center{
	width:649px;
	margin:0 auto;
	display:block;
	position:relative;
	margin-left:-5px;
	margin-top:20px;
}

.busqueda-box-center .form-box{
	margin-left:0%;
    padding: 10px 12px 12px;
    width: 619px;
}
.busqueda-box-center .form-block .label{
	font-weight:normal;
}
.busqueda-tipo-terapeuta{
	width:190px;
	margin-right:30px;
}
.busqueda-especializacion{
	width:120px;
	margin-right:30px;
}
.busqueda-palabra-clave{
	width: 319px;
}
.busqueda-region{
	width:190px;
	margin-right:30px;
}
.busqueda-comuna{
	width:150px;
	margin-right:30px;
}
.busqueda-button{
	width: 219px;
}
.busqueda-button input{
	width:100% !important;
}

.busqueda-mensaje-resultado{
	font-size:24px;
	font-weight:bold;
	color:#067ab8;
	margin:20px 5px;
}
.busqueda-mensaje-resultado strong{
	color:#7d74c1;
}

/* ficha: */

.ficha-persona, .ver-ficha-persona{
	color:#6f6f6f;
	position:relative;
    padding: 15px;
    width: 613px;
	border:3px solid #ceecd6;
	background-color:#f0fcf3;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-bottom:7px;
	font-size:13px;
}
.ficha-persona .foto, .ver-ficha-persona .foto{
	overflow:hidden;
	width:42px;
	height:42px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	float:left;
}
.ficha-persona p, .ver-ficha-persona p{
	font-size: 13px;
}
.contenido-ficha{
	width:560px;
	float:right;
}
.nombre-ficha{
	font-size: 18px !important;
	color: #6a63a4;
	font-weight:bold;
	margin: -2px 0 0;
}
.contenido-ficha h3{
	color:#4483be;
	font-size:16px;
	margin: 0 0 15px;
}
.ficha-columna{
	width:350px;
	float:left;
}
.ficha-sidebar{
	width:151px;
	float:right;
}
.ficha-sidebar h3{
	color:#919592;
}
.ficha-persona ul,.ficha-terapias ul, .ver-ficha-persona ul{

	line-height:140%;
	list-style:disc;
	margin-left:15px;
	color:#4483be;
	margin-bottom:18px;
}
.ficha-persona ul li ,.ficha-terapias ul li, .ver-ficha-persona ul li {
	margin-bottom:2px;
}
.ficha-persona ul li span,.ficha-terapias ul li span, .ver-ficha-persona ul li span{
	color:#6f6f6f;
}
.ficha-persona .boton-morado, .ver-ficha-persona .boton-morado{
	float:left;
	padding-left:40px;
	padding-right:40px;
	margin: 20px 0;
}

.ficha-simple{
	border:3px solid #ffede1;
	background-color:#fffaf5;
}

.box{
	margin-bottom:30px;
	float:left;
	position:relative;
}
.box-mapa .link-mapa-google{
	float:right;
	margin-top:10px;
}
.box-entrevista a{
	font-size:16px;
	font-weight:bold;
}
.box-mapa .map-container{
	width:151px;
	/*height:182px;*/
	position:relative;
	
}
.box-mapa .map-box{
	position:relative;
	width:151px;
	height:182px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center center;
}
.map-container.abierto{
	/*left:-464px;*/
}

.map-container.abierto .map-box{
	
	border:1px solid #ccc;
	/*width:615px;
	height:300px;*/
	-webkit-box-shadow: 0px 1px 3px 0px #000000;
	-moz-box-shadow: 0px 1px 3px 0px #000000;
	box-shadow: 0px 1px 3px 0px #000000; 
}


.bt-descr-completa{
	position:absolute;
	right:10px;
	top:10px;
	width:75px;
	height:30px;
	padding-top:8px;
	padding-right:40px;
	font-size:11px;
	color:#8f8f8f;
	text-align:right;
	cursor:pointer;
	background:url(img/btn-mas-ficha.png) no-repeat scroll 100% 0  transparent;
}
.abierta .bt-descr-completa{
	background-position: 100% -37px;
}
.bt-descr-completa span{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
.abierta .bt-descr-completa span{
	display:none;
}
.descripcion-full{
	display:none;
	float:left;
}

.descripcion-full.ficha-full{
	width:560px;
}

/* Paginación busqueda: */

.pagination{
	color:#6f6f6f;
	position:relative;
    padding: 15px;
    width: 613px;
	border:3px solid #eaebf6;
	background-color:#e1cef3;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-bottom:7px;
	margin-top:15px;
	font-size:16px;
}
/* paginación antigua:
.pagination ul li{
	color:#4483be;
	min-width:28px;
	min-height:28px;
	padding:0px;
	background-color:#fff;
	display:inline-block;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	line-height:28px;
	cursor:pointer;
	float:left;
	margin-right:5px;
}
.pagination ul li a{
	color:#4483be;
	margin:0 8px;
}
.pagination ul li.current{
	color:#9ab5db;
	background-color:#f0e7f9;
	border-color: #9ab5db;
}
.pagination ul li.current a{
	color:#9ab5db;

}

.pagination ul li:hover {
	border: 2px #4483be solid;
	margin: -2px;
	margin-right: 3px;
}
.pagination ul li.current:hover {
	border-color: #9ab5db;
}
*/
/* nueva pagination */


.pagination span,.pagination em,.pagination a{
	color:#4483be;
	/*min-width:28px;*/
	min-height:28px;
	padding:0px;
	background-color:#fff;
	display:inline-block;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	line-height:28px;
	cursor:pointer;
	float:left;
	margin-right:5px;
	color:#4483be;
	padding:0px 10px;
}
.pagination .previous_page, .pagination .next_page{
	/*padding:0px 8px;*/
}

.pagination .current{
	color:#9ab5db;
	background-color:#f0e7f9;
	border-color: #9ab5db;
	cursor:default;
}
.pagination span:hover,.pagination em:hover,.pagination a:hover {
	border: 2px #4483be solid;
	margin: -2px;
	margin-right: 3px;
}
.pagination .current:hover {
	margin: 0px;
	margin-right: 5px;
	border: none;
}
.pagination .disabled {
	display:none;
}




.ordenar-por{
	font-size:15px;
	color:#6b6b6b;
}
.ordenar-por select{
	width:25%;
}

/**TIPOS DE TERAPIA**/


.busqueda-disciplina-asociada{
	width:208px;
	margin-right:30px;
}
.busqueda-especificaciones-tratamiento{
	width:303px;
}
.busqueda-especificaciones-tratamiento{
	width:303px;
}

.sec-tipos-de-terapia .busqueda-palabra-clave{
	width:290px;
	margin-right:30px;
}

.sec-tipos-de-terapia .busqueda-button{
	width:221px;
}

.letra-alfabetico{
	float:left;
	width:100%;
	margin:5px 0 10px;
}
.letra-alfabetico span{
	color:#fff;
	min-width:25px;
	min-height:25px;
	padding:0px;
	background-color:#e1cef3;
	display:inline-block;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	line-height:24px;
	float:left;
	margin-right:5px;
	font-size:18px;
	text-transform:uppercase;
	border:solid 3px #c3c1e6;
}




.ficha-terapias{
	color:#6f6f6f;
	position:relative;
    padding: 15px;
    width: 613px;
	border:3px solid #ffede1;
	background-color:#fffaf5;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-bottom:7px;
	font-size:13px;
}
.ficha-terapias hr{
	color:#ffede1;
	border:none;
	border-top:3px solid #ffede1;
	width:643px;
	margin: 10px -15px;
	float:left;
}
.ficha-terapias .foto{
	overflow:hidden;
	width:140px;
	height:100px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	float:left;
	margin-right:12px;
	margin-bottom: 12px;
}
.ficha-terapias .contenido-ficha{
	float:left;
	width:615px;
}
.ficha-terapias p{
	font-size: 13px;
}
.ficha-terapias .ficha-columna{
	width: 380px;
}
.ficha-terapias .ficha-sidebar{
	margin-top:29px;
	width:210px;
}
.ficha-terapias p{
	margin: 5px 0 15px;
	line-height:130%;
}
.descripcion-resumen p{
	line-height:110%;
	margin: 5px 0;
}
.ficha-terapias .nombre-ficha{
	margin: -4px 0 8px;
}
.ficha-terapias .descripcion-full{
	float: none;
}

.bt-ver-mas{
	display:inline-block;
	position:relative;
	width:80px;
	height:20px;
	padding-left:22px;
	font-size:11px;
	color:#9a9a9a;
	cursor:pointer;
	line-height:22px;
	background:url(img/bt-mas-mini.png) no-repeat scroll 0 center  transparent;
}
.box-terapeutas ul li a,.box-articulos-relacionados ul li a{
	font-weight:bold;
	color:#6c42c3;
}
.ficha-terapias .box h3{
	color:#4483be;
}
.bottom-social{
	float:left;
	width:100%;
	padding-top:5px;
}
.bottom-social .bt-email{
	margin-right:40px;
}
.bottom-social .social-icons{
	float:right;
	width:350px;
}
.share-twitter{
	float:right;
	/*width:105px;*/
	display:inline-block;
	margin-right:5px;
}
.share-facebook{
	float:right;
	/*width:200px;*/
	text-align: right;
	display:inline-block;
}

.forzar-abierta .descripcion-resumen{
	display:none;
}
.forzar-abierta .descripcion-full{
	display:block;
}


/**ARTICULOS Y NOTICIAS**/

.busqueda-categoria{
	width:208px;
	margin-right:30px;
}
.busqueda-tema{
	width:175px;
}
.busqueda-especificaciones-tratamiento{
	width:303px;
}

.sec-articulos-y-noticias .busqueda-palabra-clave{
	width:208px;
	margin-right:30px;
}

.sec-articulos-y-noticias .busqueda-button{
	width:175px;
}





.ficha-articulo{
	color:#6f6f6f;
	position:relative;
    padding: 15px;
    width: 613px;
	border:3px solid #ffede1;
	background-color:#fffaf5;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-bottom:7px;
	font-size:13px;
}
.ficha-articulo hr{
	color:#ffede1;
	border:none;
	border-top:3px solid #ffede1;
	width:643px;
	margin: 10px -15px;
	float:left;
}
.ficha-articulo .foto{
	overflow:hidden;
	width:203px;
	height:140px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	float:left;
	margin-right:12px;
	/*margin-bottom: 12px;*/
}
.ficha-articulo .contenido-ficha{
	float:left;
	width:615px;
}
.ficha-articulo p{
	font-size: 13px;
}
.ficha-articulo .encabezado{
	margin: -4px 0 12px;
}
.encabezado h3{
	color:#6a63a4;
	font-size:18px;
	margin-bottom:0;
}
.encabezado p{
	color:#067ab8;
	position:relative;
}
.articulo-volver{
	margin: 10px 0 20px;
	text-align:right;
	width:100%;
	float:left;
}
.articulo-volver a{
	font-size:15px;
}


/**NOTICIAS **/


.sidebar-noticias h2{
	margin-bottom:20px;
}
.ficha-noticia{
	color:#6f6f6f;
	position:relative;
    padding: 15px;
    width: 280px;
	border:3px solid #ceecd6;
	background-color:#f0fcf3;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-left:10px;
	margin-bottom:7px;
	font-size:13px;
}
.ficha-noticia hr{
	color:#ceecd6;
	border:none;
	border-top:3px solid #ceecd6;
	width:310px;
	margin: 10px -15px;
	float:left;
}
.ficha-noticia .foto{
	overflow:hidden;
	width:280px;
	height:100px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	float:left;
	margin-right:0px;
	margin-bottom: 10px;
}
.ficha-noticia .encabezado{
	width:100%;
}
.ficha-noticia .encabezado h3{
	font-size:14px;
	
}
.ficha-noticia .contenido-ficha{
	float:left;
	width:280px;
}
.ficha-noticia p{
	font-size: 13px;
	margin:8px 0;
}
.sidebar-noticias{
	padding-bottom:20px;
}
.busqueda-box-center .ficha-noticia{
	width: 613px;
}
.busqueda-box-center .ficha-noticia .contenido-ficha{
	width: 613px;
}
.busqueda-box-center .ficha-noticia .foto{
	margin-right:15px;
}
.busqueda-box-center .ficha-noticia hr{
	width:643px;
	margin: 10px -15px;
}
.busqueda-box-center .ficha-noticia .encabezado h3{
	font-size:18px;
}

#mjs-alert{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:5000;
	display:none;
}
#bg-mjs-alert{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.5;
}
#box-mjs-alert{
	position:relative;
	width:300px;
	margin:auto;
	top:30%;
	border:3px solid #ceecd6;
	background-color:#f0fcf3;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	padding:15px;
	text-align:center;
	-webkit-box-shadow: 0px 1px 3px 0px #000000;
	-moz-box-shadow: 0px 1px 3px 0px #000000;
	box-shadow: 0px 1px 3px 0px #000000; 
}
#box-mjs-alert p{
	font-size:16px;
}



/*** HOME PRIVADO ***/

#nav ul li.bt-nav-faq{
	float:right;
}
.homePrivado #nav ul.main{
	width:1006px;
	background-color: #4483be;
}

.homePrivado .infiniteCarousel ul li .bg-color{
	background-color:#fceedf;
}

.aumenta-tus-atenciones{
	background-color:#f2fdf5;
	font-size:13px;
}

.aumenta-tus-atenciones ul,.aumenta-tus-atenciones ul{
	line-height:140%;
	list-style:disc;
	margin-left:15px;
	color:#4483be;
	margin-bottom:18px;
}
.aumenta-tus-atenciones ul li ,.aumenta-tus-atenciones ul li {
	margin-bottom:2px;
}
.aumenta-tus-atenciones ul li span,.aumenta-tus-atenciones ul li span{
	color:#6f6f6f;
}
.plan-actual{
	padding: 0 15px;
	border-bottom:#bfebcb solid 3px;
	margin-bottom:15px;
	padding-bottom:5px;
}
.plan-actual p{
	margin-left:0;
	margin-right:0;
	color:#5e5e5e;
}
.plan-actual .destacado{
	color:#0ba438;
	font-size:24px;
}
.plan-actual h1{
	color:#7d74c1;
	font-size:24px;
}
.testimonio-plan{
	padding: 0 15px 20px;
}
.testimonio-plan p{
	margin-left:0;
	margin-right:0;
	color:#5e5e5e;
}
.testimonio-plan .right{
	margin-bottom:20px;
}
blockquote{
	font-family: Georgia, Times, Serif;
	font-style:italic;
	line-height:130%;
	color:#067ab8;
}
.testimonio-plan blockquote{
	font-size:17px;
	color:#067ab8;
}

.homePrivado .columna-670-left p{
	font-size:13px;
	
}
.homePrivado .columna-670-left h2{
	margin-bottom:30px;
}


.form-perfil{
	background-color:#f8fbfd;
	border-color:#ddecf5;
	
}

.form-perfil .form-block.one-line .label{
	width:290px;
	padding-top:3px;
}
.form-perfil .form-block.one-line .input_field{
	width:290px;
	
}

.form-perfil .display-text{
	font-weight:bold;
	color:#6f6f6f;
	margin:0;
	padding-top:0px;
	line-height: 20px;
	width:90%;
}

.dinamic-swich .input_field input,.dinamic-swich .input_field select{
	display:none;
	margin-top:-3px;
	margin-bottom:-3px;
}
.dinamic-swich .input_field select{
	margin-top:-4px;
	margin-bottom:-4px;
}
.dinamic-swich .input_field.editando input,.dinamic-swich .input_field.editando select{
	display:block;
}
.dinamic-swich .input_field.editando .display-text{
	display:none;
}

.edit-icon{
	background: url(img/input-dinamic-edit.png) no-repeat scroll center -60px transparent;
	position:absolute;
	width:25px;
	height:25px;
	right:0px;
	top:-5px;
	padding:4px;
	cursor:pointer;
}
.form-perfil .input_field:hover .edit-icon{
	background-position: center -28px;
}
.form-perfil .input_field.editando:hover .edit-icon{
	background-position: center 5px;
}
.editando .edit-icon{
	background-position: center 5px;
}

.form-perfil h3{
	position:relative;
	left:180px;
	padding:0 0 20px;
	width:400px;
}
.mi-perfil{
	min-height:160px;
}

.mis-datos{
	float:left;
	margin-top:20px;
}


.multiples-campos-boton-agregar{
	margin-left:305px;
	color:#4483BE;
	font-size:11px;
	cursor:pointer;
	display:block;
	float:left;
	height:22px;
}
.multiples-campos-plantilla-input{
	display:none;
}

#foto-perfil{
	position:absolute;
	left:12px;
	top:15px;
	width:172px;
}

#foto-perfil .foto{
	overflow:hidden;
	width:170px;
	height:130px;
	border:#98b5c4 1px solid;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	float:left;
	margin-bottom:8px;
}
.previsualizar-ficha{
	width:93.5%;
	float:left;
	text-align:center;
	padding-left:6.5%;
	margin-top:5px;
}
.previsualizar-ficha a{
	background: url(img/icon-previsualizar-ficha.png) no-repeat scroll left center transparent;
	padding-left:50px;
	line-height:30px;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	color:#8a72bb;
}

.guardar-cambios{
	text-align:center;
	padding-bottom:20px;
}
.guardar-cambios input{
	float:none;
	margin-left:7%;
	padding-left:40px;
	padding-right:40px;
}




/**PREVIEW**/

#mjs-preview{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:5000;
	display:none;
}
#bg-mjs-preview{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* IE 5-7 */
	filter: alpha(opacity=80);
	/* Netscape */
	-moz-opacity: 0.8;
	/* Safari 1.x */
	-khtml-opacity: 0.8;
	/* Good browsers */
	opacity: 0.8;
}
#box-mjs-preview{
	position:relative;
	margin:auto;
	top:30px;
	width:640px;
	min-height:250px;
	padding: 15px;
	
}

#box-mjs-preview .ficha-persona .descripcion-full{
	display:block !important;
}
#box-mjs-preview .busqueda-box-center{
	margin-top:0;
}

#bt-cerrar-mjs-preview{
	color: #fff;
	font-size:11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#aaa;
	text-shadow:none;
	 padding: 3px 0;
	width:60px;
	text-align:center;
	position:absolute;
	right:20px;
	top:25px;
	cursor:pointer;
	z-index:555;
}


/*** ACCESO TERAPEUTAS ***/
.columna-one-full{
	width:976px;
	float:left;
	min-height:250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
	padding: 15px;
	position:relative;
	margin-bottom:15px;
}

.columna-acceso-beneficios{
	/*background-color:#a392c5;*/	
	color:#fff;
	padding-bottom:15px;
	background:url(img/beneficios-terapia-box.png) no-repeat 0 20px #a392c5;
}

.columna-acceso-beneficios h2{
	color:#fff;
	text-shadow: #71639c 1px 1px 1px;
	margin-bottom:20px;
}
.columna-acceso-beneficios .titulo-testimonios{
	margin:20px 0 10px;
}

.columna-acceso-beneficios p{
	color:#fff;
	font-size:13px;
}
.text-box{
	width: 803px;
	float:right;
}

/*
.columna-acceso-beneficios blockquote{
	color:#49362b;
	font-size:17px;
	margin-bottom:15px;
}*/
.columna50{
	width:45%;
	padding-right:5%;
	float:left;
}
.columna50.last{
	width:50%;
	padding-right:0%;
}
.columna-acceso-beneficios .columna50 p{
	/*text-align: right;*/
}

.grande{
	font-size:180% !important;
}
.columna-acceso-beneficios .grande{
	text-shadow: #71639c 1px 1px 1px;
}

#bt-comenzar-ahora{
	font-size:18px;
	font-weight:normal;
	margin-top:15px;
	padding:10px 50px;
	border-color:#45a5d9;
	/*border-bottom-color:#256b91;*/
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 1px 2px rgba(0, 0, 0, 1);
	box-shadow:         0px 1px 2px rgba(0, 0, 0, 1);
	
}


.bases-valoricas {
min-height:100px;
}
.bases-valoricas h2{
	margin-bottom:30px;
}
.bases-valoricas h3{
	color:#4483be;
	font-size:13px;
	/*margin: 20px 15px 5px;*/
}
.bases-valoricas p{

	/*margin: 2px 15px 8px;*/
}
.bases-valoricas {
	/*padding-bottom:20px;*/
}

.columna30{
	width:32%;
	float:left;
	margin-right:2%;
}
.columna30.lastChild{
	margin-right:0%;
}

.columna-planes{
	margin-top:15px;
}
.plan{
	font-size:13px;
	color:#707070;
	position:relative;
    padding: 15px;
    width: 445px;
	border:3px solid #b7ddff;
	background-color:#d9edff;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-bottom:7px;
	font-size:13px;
	min-height:455px;
	margin-right:20px;
	margin-top:20px;
	
}
.plan0{
	margin-left:-3px;
}
.plan1{
margin-right:-15px;
}

.plan p{
	font-size:13px;
	color:#707070;
	
}
.plan h1{
	font-size:24px;
	margin:0;
	color:#4483be;
	/*text-shadow: #356142 1px 1px 1px;*/
}

.plan ol{
	list-style-type:decimal;
	margin-left:20px;
	margin-bottom:220px;
}
.plan ol li{
	margin-bottom:2px;
}





.box-contratar{
	height:210px;
	width:100%;
	position:absolute;
	bottom:10px;
	text-align:center;
	margin-left:-15px;
}
.box-contratar .boton-azul{
	float:none;
	position:aboslute;
	bottom:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px 75px;
	display: inline-block;
	
}


.precio-borde{
	background:url(img/borde-precio.png) no-repeat;
	width: 6px;
	height: 6px;
	position:absolute;
	
}
.precio-borde-left{
	left:-9px;
	background-position: -1px -9px;
}
.precio-borde-left.top{
	top:-6px;
	background-position:-1px -1px
}
.precio-borde-right{
	right:-9px;
	background-position: -9px -9px;
}
.precio-borde-right.top{
	top:-6px;
	background-position: -8px 0;
}
.precios{
	position:relative;
	left:-8px;
	width:461px;
	padding:15px;
	height:110px;
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.35);

	
	background: #ffec81; /* Old browsers */
	background: -moz-linear-gradient(left,  #f2cc46 0%, #ffec81 8%, #ffec81 92%, #f2cc46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2cc46), color-stop(8%,#ffec81), color-stop(92%,#ffec81), color-stop(100%,#f2cc46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f2cc46 0%,#ffec81 8%,#ffec81 92%,#f2cc46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f2cc46 0%,#ffec81 8%,#ffec81 92%,#f2cc46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f2cc46 0%,#ffec81 8%,#ffec81 92%,#f2cc46 100%); /* IE10+ */
	background: linear-gradient(left,  #f2cc46 0%,#ffec81 8%,#ffec81 92%,#f2cc46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffec81', endColorstr='#f2cc46',GradientType=0 ); /* IE6-8 */

}
.plan0 .precios{
	height:30px;
}
.plan0 .box-contratar{
	height:170px;
}
.plan0 .boton-azul{
	margin-top:60px;
}
.plan1 .precios{
	
}
.plan2 .precios{
	
}
.precios p{
	color:#1f598f;
	font-size:14px;
	margin-bottom:10px;
}
.precio_valor{
	font-size:24px;
	font-weight:bold;
}





/** 404 **/
.content404{
	background-image:url(img/error404.png);
	background-repeat:no-repeat;
	background-position: 45px 35px;
	min-height: 395px;
}
.content404 .text-box{
	width: 480px;
	position:relative;
	float:none;
	left:330px;

}
.content404 h2{
	margin-bottom:30px;
}
.content404 p{
	line-height:100%;
	margin:10px 0;
}



/** estadísticas **/
.estadisticas{
	
}
.columna-estadisticas{
	width:400px;
	float:left;
}
.columna-estadisticas p{
	font-size:13px;
}
.columna-estadisticas h2{
	margin-bottom:25px;
}
.box-estadisticas{
	color:#6f6f6f;
	position:relative;
	padding: 15px;
	width:375px;
	border:3px solid #eaebf6;
	background-color:#f7f5fa;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	float:left;
	margin-bottom:7px;
	font-size:13px;
	margin-left:-5px;
	
}
h4{
	font-size:13px;
	font-weight:bold;
	color:#6f6f6f;
	margin: 10px 0;
}
.box-estadisticas h3{
	color:#4483be;
}
.box-estadisticas-content{
	min-height:50px;

}

.box-estadisticas .form-block .input_field{
	width:215px;
	margin-bottom:3px;
}
.box-estadisticas .form-block .label{
	margin:10px 0;
}
.box-estadisticas .form-block  .boton-morado{
	padding-left:30px;
	padding-right:30px;
}
.desde{
	width:42%;
	float:left;
}
.hasta{
	width:42%;
	float:right;
}
.medio_desde_hasta{
	width:10%;
	padding:2%;
	float:left;
	text-align:center;
	line-height:20px;
}

.columna-estadisticas-right{
	width:550px;
	float:right;
}




/** FAQs **/
.acordeon-grande .acordeon-header {
	background-color:#f3a959;
}
.acordeon-grande .active .acordeon-header {
	background-color:#ee8512;
}
.acordeon-grande .acordeon-header p{
	line-height:42px;
	font-size:15px;
}

.acordeon-grande .acordeon-header p{
	line-height:42px;
	font-size:15px;
}

.acordeon-grande .acordeon-content{
	padding:5px 0;
	margin:0 10px;
}
.acordeon-grande .acordeon-content p{
	font-size:13px;
}
.acordeon-grande .acordeon-boton{
	background-image:url(img/acordeon-flechas-grande.png);
	width:25px;
	background-position:1px center;

}
.acordeon-grande .acordeon-mas{
	background-position:-25px center;

}

.sec-faq .acordeon-lista{
	margin-top:25px;
}

.acordeon-grande ul li{
	padding-bottom:14px;
}

.contacto-sidebar{
	min-height:150px;
	padding-bottom:20px;
}
.contacto-sidebar .boton-morado{
	float:left;
	margin-left:15px;
	padding-left:30px;
	padding-right:30px;
	
}

/* formulario ligthbox contactar terapeuta */

.contactarTerapeutaForm{
	width:480px;
	margin-top:20px;
}
.contactarTerapeutaForm .input_field{
	margin-bottom:10px;
}
.contactarTerapeutaForm .columna50{
	width:45%;
}
.contactarTerapeutaForm .columna50.last{
	float:right;
}
.contactarTerapeutaForm textarea{
width:472px;
}
.contactarTerapeutaForm .boton-morado{
	float:right;
	margin: 10px 0;
}

/* Mauricio */
.columna-full{
	width:1000px;
	float:left;
	min-height:250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
	padding: 15px;
	position:relative;
}

.event-field{
	width: 100px;
	margin-right: 20px;
}

.checkbox-field{
	width: 40px;
}

.check-recurrent{
	text-align:right;
}

.recurrence-number-field{
	width: 80px;
}

.link-cerrar-mensaje{
	color: #fff;
	font-size:11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 2px;
	border-radius: 5px;
	text-shadow:none;
	padding:2px;
	width:60px;
	text-align:center;
	position:absolute;
	right:5px;
	top:6px;
	cursor:pointer;
}


#table-2 {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#table-2 td, #table-2 th {
	padding: 5px;
	color: #333;
}
#table-2 thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
#table-2 th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
#table-2 td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#table-2 tr:hover {
	background-color: #fff;
}

.multiples-campos-boton-añadir{
	margin-left:305px;
	color:#4483BE;
	font-size:11px;
	cursor:pointer;
	display:block;
	float:left;
	height:22px;
}

.boton-morado.derecha {
	margin-left: 150px;
}
