<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background:#f7f1fd url(http://osvaldouribe.com/clients/buscoterapia/border_top.gif) repeat-x; font-family:arial;">
<table style="background-color:#ffffff; width:700px; margin:20px auto; padding:33px; border-radius:3px;">
     <tr>
          <td>
				<hr style="display:block; background-color:#cde4f1; border:none; height:3px; margin:33px 0;"/>
          </td>
     </tr>

     <tr>
          <td>
				<p style="color:#717171; font-size:14px; line-height:21px; margin:33px 0;">
				Tu mensaje fue enviado con éxito a nuestro equipo de profesionales, a partir de este momento tenemos 90 minutos para resolver tu solicitud.
				<br /><br />
				Este servicio se ofrece entre 09:00 y 19:00 de lunes a viernes, si tu solicitud se realizó fuera de este horario responderemos durante las próximas 2 horas hábiles.
				<br /><br />
				Nos contactaremos contigo al teléfono que nos indicaste en el Paso 2 y te ofreceremos una variedad de opciones para que elijas y comiences el proceso que desees.
				<br /><br />
				Si tienes cualquier duda o necesidad puedes contactarnos vía mail a asesoria@buscoterapia.cl
				<br /><br />
				
				<p style="color:#717171; font-size:14px; margin: 0;">¡Muchas gracias por confiar en nosotros!<br /><br />
				Tu N° de solicitud es <%= @asesoria.id %></p>

          </td>
     </tr>
</table>

<p style="width:630px; margin:0 auto; font-size:11px; color:#7b7b7b;"><span style="color:#aeaeae;">Nota: este email es generado de forma automática.</span><br />
Recuerda seguirnos en <a href="http://twitter.com/#!/buscoterapia" target="_blank" style="color:#6368ad; text-decoration:none;">@buscoterapia</a> y <a href="https://www.facebook.com/buscoterapia" target="_blank" style="color:#6368ad; text-decoration:none;">facebook.com/buscoterapia</a><br />
Busco Terapia © 2012.</p>

</body>
</html>
