<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Buscoterapia</title>
	<%= stylesheet_link_tag "osv" %>
	
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29129784-1']);
      _gaq.push(['_trackPageview']);

      (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>
	<div id="wrapper">
		<div id="branding" class="center">
			<h1><%= link_to "Buscoterapia.cl", root_url, :class => "branding"%></h1>
		</div><!-- branding -->
		<%= yield %>
	</div><!-- wrapper -->
</body>
</html>