<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

		<div class="columna-670-left">
		<h2>Nuevo articulo/noticia</h2>
		<br />
	
			<%= render 'form' %>
			
			<%= link_to 'Back', articulos_path %>
		</div>
	</div>
</div>